.brand-logo-hr {
    border: 1px solid #666;
}

.brand-section img {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray;
    /* IE5+ */
    -webkit-filter: grayscale(1);
    /* Webkit Nightlies & Chrome Canary */
    transition: all .8s ease-in-out;
}

.brand-section img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    transform: scale(1.01);
}