.footer-text {
    color: rgb(169, 161, 161);

}

.copyright {
    border-top: 1px solid rgb(106, 105, 105);
    margin-top: 15px;
}

.support-contact-hover:hover {
    border: 1px solid rgb(255, 255, 255);
    /* border-color: red; */
}


.footer-social-icon {
    width: 45px;
    height: 45px;
    padding: 8px;
    cursor: pointer;
    transition: .5s;
    border-radius: 100%;
}